# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

* @hashicorp/consul-selfmanage-maintainers

# release configuration
/.release/                              @hashicorp/team-selfmanaged-releng
/.github/workflows/build.yml            @hashicorp/team-selfmanaged-releng
