* @hashicorp/consul-selfmanage-maintainers

# release configuration
/.release/                              @hashicorp/release-approvers-consul
/.github/workflows/build.yml            @hashicorp/release-approvers-consul
